# conf file must be in same directory as script

[json]
app_name = CB Cloud Endpoint EventLogs
version = 1.0

[cb]
server_url = 
pid_file = ./cbcloudendpointEventLogs.pid
org_key = 
max_run_time = 240

#This is used for Notifications
[cb_siem]
connector_id = 
api_key = 

#This is used for Audit logs
[cb_api]
connector_id = 
api_key = 

#This is used for the new Event API
[cb_custom]
connector_id = 
api_key = 
