# conf file must be in same directory as script

[cef]
VENDOR = carbonblack
PRODUCT = EventLogs
VERSION = 1.0
SEVERITY = 5
CEF_VERSION = CEF:0

[cbdefense]
server_url = https://api.conferdeploy.net/
pid_file = /usr/local/cbdefenseEventLogs/cbdefenseEventLogs.pid

[cbdefense_siem]
connector_id = CONNECTORID
api_key = APIKEY

[cbdefense_api]
connector_id = CONNECTORID
api_key = APIKEY
